body{
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}
/* 顶部开始 */
#shortcut{
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut .w{
    width: 900px;
    height: 30px;
    line-height: 30px;
    color: #999;
}
.fr{
    float: right;
    height: 30px;
    line-height: 30px;
    color: #999;
}
.fr .iconfont {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.iconfont {
    font-family: iconfont,sans-serif;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    /* -moz-osx-font-smoothing: grayscale; */
}
#shortcut a{
    color: #999;
}
#shortcut li.spacer{
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

#shortcut li{
    float: left;
}
.shortcut_btn{
    position: relative;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/* 最顶部结束 */
/* 头部开始 */
.header{
    width: 100%;
    height: 140px;
    border-bottom :1px solid #ddd;
    background-color:#fff;
}
.wrap{
    width: 1190px;
    margin: 0 auto;
}
.header .wrap{
    position: relative;
    height: 141px;
    background-color:  #fff;
}

.logo{
   position: absolute;
   left: 0;
   top: 10px;
     width: 190px;
     height: 120px;
     background-color: #fff;
      background-position:0 0;  
      /* background: url(./images/sprite@2x.png) no-repeat; */
      /* font-size: 0;
      display: block; */
}
.logo_lk{
    display: block;
    width: 190px;
    height: 120px;
    background-image: url(./images/sprite@2x.png);
    background-size: 190px 160px;
    background-repeat: no-repeat;
}
.search-m{
    position: relative;
    width: 100%;
    height: 60px;
}
#search{
    width: 100%;
    height: 60px;

}
.search-logo{
    display: none  ;
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;

}
.form{
    position: absolute;
    left:  220px;
    top: 25px;
    width: 482px;
    height: 32px;
    border: 2px solid #e2231a;
    background-color: #fff ;
}
.keyword{
    position: absolute;
    top: 0; 
    left: 0;
    width: 367px;
    height: 26px;
padding: 2px 44px 2px 17px ;
border: 1px solid transparent;;
line-height: 26px;
font-size: 12px;
color: #333;
outline: none;
}
.form button {
    position: absolute;
    top: 0;
    outline: none;
    border-radius: 0;
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: background .2s ease ;
}
.search-helper{
    display: none;
   position: absolute;
   top: 35px;
   left: 0;
   width: 428px;
   height: auto;
border: 1px solid #ccc;
overflow: hidden;
background-color: #fff;
box-shadow: 1px 2px 1px ;
}
.search-helper p{
    text-align: left;
    overflow: hidden;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
}
/* 不懂 */
#hotwords .style-red{
    color: #e1251b;
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
/* 不懂意思 */
}
#hotwords{
    display: block;
    left: 220px;
    width: 450px;
    overflow: hidden;
    position: absolute;
    top: 65px;
    height: 20px;
    line-height: 20px;
}
#hotwords a{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
button{
    cursor: pointer;
}
/* 给按钮放上面时变成一个小手 */
/* .logo img{
    width: 190px;
    height: 120px;

} */
#settleup{
    position: absolute;
    top: 25px;
    right: 130px;
}
#settleup .cw-icon{
    position: relative;
    float: left;
    width: 130px;
    height: 34px;
    border-color: #fff;
    text-align: center;
    line-height: 34px;
    border:1px solid #e3e4e5;
}
#settleup .cw-icon a{
    color: #e1251b;
    transition: color .2s ease
}
#navitems {
    overflow: hidden;
    position: absolute;
    left: 203px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
}
#navitems .spacer {
    overflow: hidden;
    width: 0;
    height: 13px;
}
#navitems ul{
    float: left;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#navitems li{
    float: left;
    margin-left: 1px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#navitems a {
    cursor: pointer;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
    /* -webkit-transition: color .2s ease; */
    transition: color .2s ease;
}
*{
    margin: 0;
    padding: 0;
}
/* 头部结束 */
/*导航栏开始*/
.nav{
    background-color: #e3e4e5;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.nav_main{
    width: 1190px;
    margin: 0 auto;
    height: 30px;
}
.nav_main .nav_right{
    float: right;
}
.nav_main .nav_right li{
    float: left;
    padding: 0 7px;
}
.nav_main .nav_right li a{
    color: #999;
}
.nav_main .nav_right li a i{
    font-size: 12px;
    font-weight: 900;
    padding-left: 5px;
    line-height: 12px;
}
.nav_main .nav_right li .red{
    color: #f10215;
}
.nav_main .nav_right .li_spacer span{
    color: #999;
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    opacity: 0.2;
}
.nav_left{
    float: left;
}
.nav_left i{
    font-size: 14px;
    color: #f10215;
    margin-right: 4px;
}
.nav_left span{
    color: #999;
    font-size: 12px;
} 
/*导航栏结束*/

/*商品列表*/

 body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#666;
    margin:0;
}
.beijing{
    background-color: rgb(255, 255, 255);
}
.daohang{
    width:100%;
    height: 60px;
    background-color:  rgb(255, 255, 255);
    margin-bottom: 10px;
}
.daohangxiao{
    width: 1060px;
    height: 60px;
    background-color: rgb(247, 247, 247);
    margin: 0px 200px;
}
.nei{
    width: 150px;
    height: 60px;
    list-style-type: none;
    float: left;
}
.xiao1{
    width: 150px;
    height: 27px;
}
.xiao2{
    width: 150px;
    height: 21px;
    text-align: center;
    font-family: 黑体;
    color:#bdbcbc;
    font-size: 16px;;
}
.xiao2:hover{
    color:#e23a3a;
}
.tebiexiao:hover{
    color: #e23a3a;
}
.tebiexiao{
    text-align: center;
    margin: 5px 30px;
    padding: 0px 10px;
    width: 80px;
    height: 27px;
    color: #000;
    font-size: 20px;
    font-weight:bolder;
    border-radius: 5px;
    font-family: 黑体;
}
.nei1{
    width: 1px;
    height: 45px;
    list-style-type: none;
    float: left;
    background-color: rgb(138, 135, 135);
    margin: 5px 0px;
}
.nei2{
    width: 50px;
    height: 40px;
    list-style-type: none;
    float: left;
    background-color: rgb(247, 247, 247);
}
.goodlist{
    width:1200px;
    margin: 10px auto;
}
.goodlist .gl-item{
    border: #FFF solid;
    border-radius: 15px;
    float: left;
    width: 200px;
    height: 450px;
    background:#FFF;
    padding: 38px 9px 10px;
    list-style-type: none;
}
.goodlist .gl-item:hover{
    width: 220px;
    height: 450px;
    padding: 38px 9px 10px;
    background: rgba(216, 209, 209, 0.3);
}
.mask1{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask2{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask3{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask4{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask5{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask6{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask7{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask8{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask9{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.mask10{
    font-family: 黑体;
    font-size: large;
    display:none;
    text-align: center;
    color: #fff;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin: auto;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    background:rgb(9, 9, 9);
}
.gl-item:hover .mask1{
    display: block;
}
.gl-item:hover .mask2{
    display: block;
}
.gl-item:hover .mask3{
    display: block;
}
.gl-item:hover .mask4{
    display: block;
}
.gl-item:hover .mask5{
    display: block;
}
.gl-item:hover .mask6{
    display: block;
}
.gl-item:hover .mask7{
    display: block;
}
.gl-item:hover .mask8{
    display: block;
}
.gl-item:hover .mask9{
    display: block;
}
.gl-item:hover .mask10{
    display: block;
}
.goodlist .gl-item .p-img img{
    width: 220px;
    height:220px;
}

.goodlist .gl-item .p-price{
    position: relative;
    top: 10px;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    width: 100%;
    margin: 8px 0;
}
.goodlist .gl-item .p-price strong{
    color: #e4393c;
    font-size: 20px;
}
.goodlist .gl-item .p-price strong em,.goodlist .gl-item .p-price strong i{
    font-style: normal;
}

.goodlist .gl-item .p-name{
    height: 38px;
    margin-bottom: 8px;
    overflow: hidden;
}
.goodlist .gl-item .p-name em{
    font-style: normal;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.goodlist .gl-item .p-name .keyword-color{
    color: #e4393c;
}
.goodlist .gl-item .p-name .special-words{
    font-style: normal;
    color: #ffaa71;
}
.goodlist .gl-item .p-comment{
    width: 100%;
    height: 18px;
    margin-top: -3px;
    margin-bottom: 9px;
    overflow: hidden;
}
.goodlist .gl-item .p-comment  #com{

    color: #646fb0;
    font-family: verdana;
    font-weight: 700;
}
.goodlist .gl-item .p-shop{
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    margin-bottom:8px;
}
.goodlist .gl-item .p-shop .shopname{

    display: inline-block;
    height: 18px;
}

.goodlist .gl-item .p-shop #sn{
    color: #999;
    display: inline-block;
    max-width: 122px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goodlist .gl-item .p-icons{
    overflow: hidden;
    height: 70px;
    margin-bottom: 12px;
}
.goodlist .gl-item:hover .p-icons{
    opacity: 0.1;
    overflow: hidden;
    height: 100px;
    margin-bottom: 12px;
    background-color: #FFF;
}
.goodlist .gl-item .p-icons .icon-1,.goodlist .gl-item .p-icons .icon-2,.goodlist .gl-item .p-icons .icon-3,.goodlist .gl-item .p-icons .icon-4
{

    float: left;
    padding: 0 3px;
    margin-right: 3px;
    font-style: normal;
    font-size: 12px;font-family: "Helvetica Neue";
    border-radius: 2px;
}
.goodlist .gl-item .p-icons .icon-1{
    height: 16px;
    line-height: 16px;
    background: #e23a3a;
    color: #FFF;
}
.goodlist .gl-item .p-icons .icon-2{
    border:1px solid #4d88ff;
    color: #4d88ff;
    height: 14px;
    line-height: 14px;
}
.goodlist .gl-item .p-icons .icon-3{
    border:1px solid #e23a3a;
    color: #e23a3a;
    height: 14px;
    line-height: 14px;
}
.goodlist .gl-item .p-icons .icon-4{
    color: #FFF;
    height: 16px;
    line-height: 16px;
    background: #31c19e;
}
/*商品列表结束*/